:root {
    --ap-orange-color: orange;
}

body { 
    image-rendering: crisp-edges;
    background-size: cover;
	background-image: url(./images/pizzaedit.jpg)} 
.main-body {
    display: flex;
    background: rgba(0,0,0,0.65);
    border-radius: 25px;
    flex-direction: column;
    min-width: 75%;
    max-width: 75%;
    height: 65vh;
    margin:10px;
    margin-top: 0;
    overflow: hidden;
}

.all-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bottom-box {
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: none;
    background: none;
    height: fit-content;
  }
.navbar-collapse {
    flex-basis: auto;
    justify-content: center;
}

.navbar-expand-lg {
    justify-content: center;

}
.navbar-dark {
  background: rgb(0,0,0) !important;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 25%, rgba(0,0,0,65) 100%) !important;
}

.navbar {
    position: relative;
    width: 100vw;
    top: -50px;
    border-bottom: 8px double white;
    border-radius: 10px;
    z-index: 999;
}



.nav-link {
    font-family: 'juice', sans-serif;
    font-size: 1.5em;
    color: white;
}
.nav-link:hover {
    color: white;
}
.dropdown-item {
    font-family: 'juice', sans-serif;
    font-size: 2em;
}
 .image-fluid{
    display: none  !important;
}

.buffer{
    margin-top:10px;
  }
.location-body {
    display: flex;
    flex-direction: row;
    background-image: url(./images/shopfrontt3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.modalimage {
    display: flex;
    background: #FFFAA1;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    max-width: 1000px;
    border: 8px double #4e4c32;

}
.modalimg {
  height: 98%;
  width: 98%;
  object-fit: contain;
  box-sizing: border-box;
}
.dogimg {
    width: 100%;
    object-fit:scale-down !important;
}

.modalbody {
   position: absolute;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center ;
    width:100vw;
    height: 100vh;
    box-sizing:border-box;
    background-color: rgba(0, 0, 0, 0.732);
    z-index: 1000;
    top: 0;
}

.headerclass {
    padding:2px;
    border: none;
    margin: 0;
}

.header-menu {
    margin-bottom: 0;
}

.location-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
    width:50%;
}

.location-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    width:50%;
    height: 100%;
}

.shop-image {
    display: flex;
    object-fit:contain;
    width:100%;
    object-position: center;
}

.location-left-mobile {
    display: none;
}

.hours-location-box {
    display:flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    margin: 15px;
    border: 2px solid #FFFAA1;
    height: fit-content;
    background: rgba(0, 0, 0, 0.479);
    padding: 10px;
    width: fit-content;
}
.hlr-box {
    flex-direction: row; 
    flex-wrap:nowrap; 
    height:100%;
    align-items: baseline;
}

.map-box {
    margin: 15px;
    border: 5px solid #FFFAA1;
}


.vegan-box {
    width: 30%;
    padding: 10px;
    margin:15px;
    border: 2px solid #FFFAA1;
    background: rgba(0, 0, 0, 0.479);
    font-size: .75em;
    border-radius: 25px;
}

.card-image {
    object-fit: cover;
    width:98%;
    border-radius: 25px;
}
.vegan-intro-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px;
    padding: 15px;
}
.vegan-intro-image {
    width: 50%;
    object-fit: contain;
    margin: 10px;
    border-radius: 25px;
}

.tina-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.no-shadow {
    box-shadow: none;
}
.about-roster-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:10px;
    padding: 15px;
    width: 100%;
}
.contact-body {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}
a:hover {
  text-decoration: none !important ;
}


.bean {
  position:fixed;
  z-index: 99;
  height: 60vh;
  top: 200px;
}
.peakybean {
  -webkit-animation: peekaboo 120s;
  animation: peekaboo 120s;
  animation-delay: 120s;
  -webkit-animation-delay: 120s;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}
@media (min-width: 991.5px) {
    .vegan-intro-image-mobile {
        display: none;
    }
}

@media (max-width: 991.5px) {
    .modalimg {
        width: 100%;
        object-fit:scale-down !important;
    }

   

    .location-body {
        flex-direction: column;
        align-items: center;
        background-image: url(../assets/images/shopfront.jpg);
        background-size: cover;
        min-height: 400px;
        max-width: 600px;
    }
    .location-left {
        display: none;
    }
    .location-right {
        width:100%;
        flex-direction: row;
    }

    .location-left-mobile {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        align-items: center;
        justify-content: flex-end;
        border: 2px solid #FFFAA1;
        padding: 10px;
        text-align: left;
        width: 95%;
    }

    .mobile-shop-image {
        display: flex;
        width: 100%;
        object-fit: cover;
    }

    .no-border {
        border:none;
    }
    
    .container-fluid {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        width: 100%;
    }
    .navbar {
        position: relative;
        top: -40px;
        width:fit-content;
    }  
    .header-menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #header-logo {
        width: 35%;
    }
    .nav-address {
        display: none;
      }
    .main-body {
        min-width: 90%;
    }
    .vegan-intro-box {
        flex-direction: column;
        align-items: center;
    }
    .vegan-box {
        width:95%;
    }
    .vegan-intro-image {
        display: none;
    }
    .vegan-intro-image-mobile {
        width: 95%;
        object-fit: contain;
        border-radius: 25px;
        margin: 10px;
    }
    .contact-body {
        flex-direction: column;
        overflow:auto;
    }

    .bottom-box {
        flex-direction: column;
    }
}

@media (max-width: 1685.5px) and (min-width: 991.5px) {
    .container-fluid  {
       flex-direction: column;
    }
    .nav-address {
        display: none;
      }
      #header-logo {
        width: 35%;
    }
    .contact-body {
        flex-direction: column;
    }
     
}

/* Animations */


.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 2s ease-in both;
	        animation: shadow-drop-2-center 2s ease-in both;
}

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: scale(.95);
            transform: scale(.95);
    -webkit-box-shadow: 0 0 0 0 #FFFAA1;
            box-shadow: 0 0 0 0 #FFFAA1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 30px 0px #FFFAA1;
            box-shadow: 0 0 30px 0px #FFFAA1;
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform:scale(.95);
            transform: scale(.95);
    -webkit-box-shadow: 0 0 0 0 #FFFAA1;
            box-shadow: 0 0 0 0 #FFFAA1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 30px 0px #FFFAA1;
            box-shadow: 0 0 30px 0px #FFFAA1;
  }
}

@media (min-width: 991.5px) {
.slide-bottom {
	-webkit-animation: slide-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }

  .fade-in {
    -webkit-animation: fade-in 6s both ;
	        animation: fade-in 6s  both;
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in{
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
  }

  .slide-bottom-delay {
	-webkit-animation: slide-bottom-delay 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-bottom-delay 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom-delay {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  @keyframes slide-bottom-delay {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  
  .slide-top {
	-webkit-animation: slide-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }

  .fade-in {
    -webkit-animation: fade-in 6s both ;
	        animation: fade-in 6s  both;
}

.fade-in-quick {
    -webkit-animation: fade-in 3s both ;
    animation: fade-in 3s  both;
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in{
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
  }

  .slide-left {
	-webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translatex(-150px);
              transform: translatex(-150px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translatex(0);
              transform: translatex(0);
              opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translatex(-150px);
              transform: translatex(-150px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translatex(0);
              transform: translatex(0);
              opacity: 1;
    }
  }

  .slide-right {
	-webkit-animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translatex(150px);
              transform: translatex(150px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translatex(0);
              transform: translatex(0);
              opacity: 1;
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translatex(150px);
              transform: translatex(150px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translatex(0);
              transform: translatex(0);
              opacity: 1;
    }
  }

  @keyframes peekaboo {
    0% {
      transform: translateX(-80vw);
      -webkit-transform: translateX(-80vw);
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }
  @-webkit-keyframes peekaboo {
    0% {
      transform: translateX(-80vw);
      -webkit-transform: translateX(-80vw);
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }
  @-webkit-keyframes go-away{
    0% {
              
    }
    100% {
              /* opacity: 0; */
              transform: translateX(-80vw);
              -webkit-transform: translateX(-80vw);
    }
  }
  @keyframes go-away{
    0% {
              
    }
    100% {
              /* opacity: 0; */
              transform: translateX(-80vw);
              -webkit-transform: translateX(-80vw);
    }
  }


 