:root {
    --ap-orange-color: orange;
}

body { 
    background-color: black;
}

.navbar-collapse {
    flex-basis: auto;
    justify-content: center;
}

.navbar-expand-lg {
    justify-content: center;

}
.navbar-dark {
    background: rgba(0, 0, 0, 0) !important;
}

.navbar {
    position: relative;
    width: 100vw;
    top: -50px;
    border-bottom: 8px double white;
    border-radius: 10px;
}

.nav-link {
    font-family: 'juice', sans-serif;
    font-size: 2em;
    color: white;
}
.nav-link:hover {
    color: white;
}
.dropdown-item {
    font-family: 'juice', sans-serif;
    font-size: 2em;
}
 .image-fluid{
    display: none  !important;
}

.location-body {
    display: flex;
    width: 95%;
    border: 1px solid white;
    background-image: url("./images/shopfront.jpg");

}

.hours-location-box {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    margin: 15px;
    border: 2px solid #FFFAA1;
    height: fit-content;
    background: rgba(0, 0, 0, 0.479);
    padding: 10px;
}

.map-box {
    margin: 15px;
    border: 5px solid #FFFAA1;


}

@media (max-width: 992px) {
    
    .container-fluid {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        width: 100%;
    }
    .navbar {
        position: relative;
        top: -40px;
        width:fit-content;
    }  
    .header-menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #header-logo {
        width: 65%;
    }
}

@media (max-width: 1685.5px) and (min-width: 991.5px) {
    .container-fluid  {
       flex-direction: column;
    }
}